<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "Blog", '/', id: "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Crear Post",    '/posts/crear' %></li>
              <li><%= link_to "Reporte",    '/posts/reporte' %></li>
              <li>
                <form action="/posts/search" method="get">
                <input type="text" name="word" value ="" size="100">
                <input type="submit" name="commit" value="Buscar"></form>
              </li>
              <li>
                <form action="/posts/search_category" method="get">
                <input type="text" name="category" value ="" size="20   ">
                <input type="submit" name="commit" value="Buscar Por Categoria"></form>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>